parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Wotz\\LocaleCollection\\Locale\:\:routePrefix\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Providers/TranslatableRoutesServiceProvider.php

		-
			message: '#^Call to an undefined method Wotz\\LocaleCollection\\Locale\:\:routePrefix\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/TranslateRoute.php

		-
			message: '''
				#^Call to deprecated method forceRootUrl\(\) of class Illuminate\\Routing\\UrlGenerator\:
				Use useOrigin$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/TranslateRoute.php

		-
			message: '#^Parameter \$panel of anonymous function has invalid type Filament\\Panel\.$#'
			identifier: class.notFound
			count: 1
			path: src/helpers.php
